@import url('https://fonts.googleapis.com/css?family=Numans');

body { 
    /* background: #eee; */
    color: #777;
}

img {
    width:850px;
    height:600px;
}

.navbar-collapse.collapse.in {
    display: block!important;
  }

