.modal-content {
    background-color: #FBF8F3;
    padding: 0 70px;
    border-radius: 0px;
}

.main-section {
    margin: 100px auto;
    padding: 0px;
}

.loginTitle {
    font-size: 27px;
    font-weight: 600;
    color: #004870;
    margin-top: 25px;
}

.error { 
    color: #004870;
}

.required { 
    content: ' *';
    color: #e32;
    display:inline;
}