<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="#">
                <img src="" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('Event1', index=event[0]) }}">
                {{ event[1] }}
            </a>
            <br>
            <b>{{ event[2] }}</b>
            <br>
            <b>Start: {{ event[3] }}</b>
            <br>
            <b>End: {{ event[4] }}</b>
            <br>
            <b>Address: {{ event[5] }}</b>
            <br>
            {% if user_type == 1%}
            <form action="/signup_student" method="post">
                <button type="submit" name="event_id" value="{{ event[0] }}">I'm interested!</button>
            </form>
            {% elif user_type == 2 %}
            <form action="/delete_event" method="post">
                <button type="submit" name="event_id" value="{{ event[0] }}">Delete Event</button>
            </form>
            {% endif %}
        </td>
    </tr>
</table>