

<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link href="{{ url_for('static', filename='fullcalendar.min.css') }}" rel='stylesheet' />
<link href="{{ url_for('static', filename='fullcalendar.print.css') }}" rel='stylesheet' media='print' />
<script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='fullcalendar.min.js') }}"></script>
<script>

	$(document).ready(function() {
		// Get today's date to set as default
		var today = new Date();
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();
		today = yyyy + '/' + mm + '/' + dd;

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultDate: today,
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: {
				url: 'data',
				error: function() {
					$('#script-warning').show();
				}
				
			}, 
			eventClick: function(events) { // opens up the url 
				events.jsEvent.preventDefault(); // don't let the browser navigate

				if (events.url) {
					window.open(events.url);
				}
			},
			loading: function(bool) {
				$('#loading').toggle(bool);
			}
		});

	});

</script>
<link rel="stylesheet" type="text/css" href="/static/styles/calendar.css?v=1.5">
</head>

<body>
	<div>
		<button>
			<a href="{{ url_for('index') }}" class="homeButton">Home</a>
		</button>
	</div>

	<div id='script-warning'>
		Error getting data from <code>/data</code> endpoint.
	</div>

	<div id='loading'>loading...</div>

	<div id='calendar'></div>

</body>
</html>