{% extends "base.html"%}

{% block app_content%}

<form action="/take_attendance" method="POST">
    <table style="width:50%">
    <tr>
        <th>Student</th>
        <th>On Time</th> 
        <th>Late</th>
    </tr>

        {% for student in students %}
            <tr>
                <!-- each checkbox has its own name-->
                <td>{{student[1]}}</td>
                <td><input type="checkbox" name={{student[0]}}o></td>
                <td><input type="checkbox" name={{student[0]}}l></td>
            </tr>
        {% endfor %}
    </table>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn float-right login_btn">
    </div>
</form>

{% endblock %}
