{% extends 'bootstrap/base.html' %}

{% block head %}
    <title>Water Walkers</title>
{% endblock %}
{% block navbar %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <nav class="navbar navbar-default" style="background-color: white;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="//static1.squarespace.com/static/58d952b9cd0f6848b7add54a/t/5c6e1aa2c830252a16aa2691/1595303863146/?format=1500w" alt="Water Walkers" class="Header-branding-logo" 
                style="max-width: 140px;;
                float: left;
                padding: 5px 15px 5px 10px;">
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class="navbar-brand" href="{{ url_for('calendar') }}">Calendar View</a>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% if user_type == 2%}
                    <li><a href="{{ url_for('add_event') }}">Add Event</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

