{% extends "base.html" %}

{% block head %}
<title>Email Students</title>
{% endblock %}

{% block app_content %}
<form action="/mass_email" method="POST" style="margin-top: 20px;">
    <div class="form-group">
		Campaign Name:<input type="text" autocomplete="off" autofocus="on" class="form-control" name="campaign_name">
	</div>
	<div class="form-group">
		<label class="form-control-label">Filter by tag</label> <br>
		<span><input type="radio" name="tags" id="adventure" value="adventure">Adventure</span>
		<span><input type="radio" name="tags" id="tutoring" value="tutoring">Tutoring</span>
	</div>
	<div class="form-group">
		Subject:<input type="text" autocomplete="off" autofocus="on" class="form-control" name="subject">
	</div>
	<div class="form-group">
        <br>Body:<br>
		<textarea name="body" cols="1" style="width: 100%;"></textarea>
    </div>
	<button class="btn float-right btn-md btn-outline-primary"type="submit">Send</button>
</form>
{% endblock %}
