{% extends "base.html" %}

{% block head %}
<title>Login Page</title>
<link rel="stylesheet" type="text/css" href="static/styles/Event1.css">
{% endblock %}

{% block app_content %}
<body>

<!-- EVENT INFO:  -->
<div class="event"> 
    <img class="event_image" src="https://cdn.pixabay.com/photo/2016/10/22/20/52/balloons-1761634_1280.jpg"  />
    <h1>
        {{ event[1] }}
    </h1>
    <p>
        {{ event[2] }}
    </p>
    <br>   
  <p>

      <strong>Date:</strong> {{ event[3] }} <br>
      <strong>Time:</strong> 2:30 PM <br>
      <strong>Address:</strong> {{ event[5] }}
    </p>

    
</div>
    <div>
        <h3>Interested Students</h3>
        
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>Name</th>
                    <th>Grade</th>
                </tr>
            </thead>
            
            <!-- Add isStudent-->
            <tbody>
                {% for att in attendees %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{att[0]}}</td>
                    <td>{{att[1]}}</td>
                </tr>
                {% endfor %} 
                
            </tbody>
        </table>
    </div>
</body>
{% endblock %}

