{% extends "base.html" %} {% block head %}
<title>Password Recovery</title>
<link rel="stylesheet" href="static/styles/register.css">
{% endblock %}

{% block app_content %}
<div class="col-md-5 main-section">
    <div class="modal-content">
        <div>
            <form action="/forgot_pwd" method="POST">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        <p class="loginTitle">Forgot Password</p>
                    </legend>

                    <div class="form-group">
                        <label class="form-control-label">Enter your Recovery Email</label>
                        <div class="required">
                            <label>*</label>
                        </div>
                        <input type="text" autofocus="on" class="form-control" name="email" required>
                    </div>

                </fieldset>
                <div class="form-group" style="margin-top: 20px;">
                    <input type="submit" name="recovery" value="Continue" class="btn float-right btn-md btn-outline-primary">
                </div>
                <br> <br>
            </form>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Go back instead? <a class="ml-2" href="{{ url_for('login') }}">Login</a>
            </small>
        </div>
        <br>
    </div>
</div>
{% endblock %}