{% extends "base.html" %}

{% block head %}
	<title>Events Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block app_content %}
	<h1>Hi, {{ name }}! </h1>
	{% if user_type == 2%}
	<form action="{{ url_for('add_event') }}" method="GET" class="mt-auto">
		<button type="submit" class="btn btn-md btn-primary">Add Event</button>
	</form>
    {% endif %}
	<br>
	<div class="container">
		<div class="row">
			{% for event in events %}
				{% include '_event.html' %}
			{% endfor %}
		</div>
	</div> 
	<br>
	<footer class="py-5 bg-dark bottom">
		<div class="container">
			<p class="m-0 text-center text-white">
				Sample footer text
			</p>
		</div>
	</footer>
{% endblock %}
