{% extends "base.html" %} {% block head %}
<title>Profile</title>
<link rel="stylesheet" href="static/styles/profile.css"> {% endblock %} {% block app_content %}
<div class="main">
    <div class="spacing"></div> 
</div>  

    <div class="container d-flex align-items-center flex-column">
        <img class="user_image" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="" />
        <div class="space"></div>
    </div>

    <form action="/edit_staff" method="POST">
    <div class="card-body">
       
            <!--Input first name-->
            <div class="input-group form-group">
                <div class="input-group-prepend"></div>
                <div style="color:black;">First Name</div>
            </div>
            <input type="text" autofocus="on" class="form-control" name="fname" value="{{staff[1]}}">
            <br>

            <!--Input last name-->
            <div class="input-group form-group">
                <div class="input-group-prepend"></div>
                <div style="color:black;">Last Name</div>
            </div>
            <input type="text" autofocus="on" class="form-control" name="lname" value="{{staff[2]}}">
            <br>

            <!--Input gender-->
            <div class="input-group form-group">
                <div class="input-group-prepend"></div>
                <div style="color:black;">Gender</div>
            </div>
            <input type="text" class="form-control" name="gender" value="{{staff[5]}}">
            <br>

            <!--Input medications-->
            <div class="input-group form-group">
                <div class="input-group-prepend"></div>
                <div style="color:black;">List any medications you take </div>
            </div>
            <input type="text" class="form-control" name="medications" value="{{staff[4]}}">
            <br>
            
            <!--Input food allergies-->
            <div class="input-group form-group">
                <div class="input-group-prepend"></div>
                <div style="color:black;">Any Allergies</div>
            </div>
            <input type="text" class="form-control" name="allergies" value="{{staff[6]}}">
            <br>

            <!--Input immunization -->
            <div class="input-group form-group">
                <div class="input-group-prepend"></div>
                <div style="color:black;">Immunizations </div>
            </div>
            <input type="text" class="form-control" name="immunization" value="{{staff[7]}}">
            <br>

            <!--Input emergency contact name-->
            <div class="input-group form-group">
                <div class="input-group-prepend"></div>
                <div style="color:black;">Emergency Contact Information</div>
            </div>
            <input type="text" class="form-control" name="econtact" value="{{staff[3]}}">
            <br>

            <div class="space"></div>
            <!--Register button-->
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn float-right btn-md btn-outline-primary">
            </div>
    </div>
</form>
    <div class="spacing"></div>
    <!--Navigate back to login page-->
    <div class="card-footer">
        <div class="d-flex justify-content-center links">
            <a href="/">Back to Homepage</a>
        </div>
    </div>
</div>
{% endblock %}