{% extends "base.html" %} {% block head %}
<title>Profile</title>
<link rel="stylesheet" href="static/styles/profile.css"> {% endblock %} {% block app_content %}
<div class="main">
    <div class="spacing"></div>
</div>

<div class="container d-flex align-items-center flex-column">
    <img class="user_image" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
        alt="" />
    <h3>{{student[1]}} {{student[2]}}</h3>
    <a href="{{ url_for('edit_student') }}">
        <input type="submit" value="Edit Profile" class="btn float-right btn-md btn-outline-primary">
    </a>
</div>

<br>
<div>
    <h1>No Show = {{noShow}}%</h1>
    <h1>Behavioral Issues = {{behavior}}%</h1>
</div>
{% set count = namespace(value=0) %}
<div class="container">
    <div class="container d-flex align-items-center flex-column">
        <h1>Past Events</h1>
    </div>

    <div class="row">
        {% for event in event_info %}

        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card h-100">

                <div class="card-body d-flex flex-column">
                    <u>
                        <h3 class="card-title">{{ event[1] }}</a></h3>
                    </u>
                    <p class="card-text">
                        {{ event[2] }}
                        <br>
                        Date Attended: {{ event[3].split('T')[0] }}
                        <br>
                        Time: {{ event[3].split('T')[1] }} to {{ event[4].split('T')[1] }}
                        <br>
                        Address: {{ event[5] }}
                        <br>
                    </p>
                    <u>
                        <h5 class="card-title">Attendance Record</a></h5>
                    </u>

                    {% if pastEvents[count.value][2] == 0 %}
                    <b>
                        <p>Late: Yes</p>
                    </b>
                    {% else %}
                    <p>Late: No</p>
                    {% endif %}

                    {% if pastEvents[count.value][3] == 0 %}
                    <b>
                        <p>Left Early: Yes </p>
                    </b>
                    {% else %}
                    <p>Left Early: No</p>
                    {% endif %}

                    {% if pastEvents[count.value][4] == 0 %}
                    <b>
                        <p>Any Behavior Issues: Yes </p>
                    </b>
                    {% else %}
                    <p>Any Behavior Issues: No</p>
                    {% endif %}

                </div>
            </div>
        </div>

        {% set count.value = count.value + 1 %}
        {% endfor %}

    </div>
</div>
<br>

    <div class="spacing"></div>
    <!--Navigate back to login page-->
    <div class="card-footer">
        <div class="d-flex justify-content-center links">
            <a href="/">Back to Homepage</a>
        </div>
    </div>
</div>
{% endblock %}