{% extends "base.html" %}

{% block head %}
<title>Register Staff</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--Bootsrap 4 CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!--Fontawesome CDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="static/styles/reg_staff.css">

{% endblock %}

<div class="container">
	{% block app_content %}
	<div class="d-flex justify-content-center h-100">
		<div class="card">
            <div class="card-header">
				<h3>Register Staff Members</h3>
			</div>

            <div class="card-body">
                <form action="/RegisterStaff" method="POST">
					<div class="input-group form-group">
						<div class="input-group-prepend"></div>
                        </div>
                        <input type="text" autofocus="on" class="form-control" name="name" placeholder="Full Name">
					
					<!--Input email-->
					<div class="input-group form-group">
						<div class="input-group-prepend"></div>
                        </div>
                        <input type="text" autofocus="on" class="form-control" name="email" placeholder="Email Address">
                    
                    <!--Input password-->
					<div class="input-group form-group">
						<div class="input-group-prepend"></div>
						</div>
						<input type="password" class="form-control" name="password" placeholder="Password">
                    
                    <!--Input password confirmation-->
					<div class="input-group form-group">
						<div class="input-group-prepend"></div>
						</div>
						<input type="password" class="form-control" name="passwordconfirm" placeholder="Enter Your Password Again To Confirm">

					<div class="input-group form-group">
						<div class="input-group-prepend"></div>
						</div>
						<input type="text" autofocus="on" class="form-control" name="contact" placeholder="Emergency Contact Name">
                    
					<div class="input-group form-group">
						<div class="input-group-prepend"></div>
						</div>
                        <input type="text" autofocus="on" class="form-control" name="medical" placeholder="Medical Info">
                       
                    <div class = "spacing"></div> 
                        <!--Register button-->
                        <div class="form-group">
                            <input type="submit" value="Register" class="btn float-right login_btn">
                        </div>
                </form>
        </div>
            <!--Navigate back to login page-->
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					<a href="/login">Back to Login</a>
                </div>
			</div>
		
	</div>
	{% endblock %}
</div>
