{% extends "base.html" %} {% block head %}
<title>Register Students</title>
<link rel="stylesheet" href="static/styles/register.css">
{% endblock %}

{% block app_content %}
<div class="col-md-9 main-section">
    <div class="modal-content">
        <div>
            <form action="/register" method="POST">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        <p class="loginTitle">Register Student</p>
                    </legend>
                    <div class="form-group">
                        <label class="form-control-label">First Name</label>
                        <div class="required">
                            <label>*</label>
                        </div>
                        <input type="text" autofocus="on" class="form-control" name="fname" required>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Last Name</label>
                        <div class="required">
                            <label>*</label>
                        </div>
                        <input type="text" autofocus="on" class="form-control" name="lname" required>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Email Address</label>
                        <div class="required">
                            <label>*</label>
                        </div>
                        <input type="text" autofocus="on" class="form-control" name="email" required>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Password</label>
                        <div class="required">
                            <label>*</label>
                        </div>
                        <input type="password" class="form-control" name="password" required>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Confirm Password</label>
                        <div class="required">
                            <label>*</label>
                        </div>
                        <input type="password" class="form-control" name="passwordconfirm" required>
                    </div>


                    <div class="form-group">
                        <label class="form-control-label">Ethnicity</label>
                        <input type="text" autofocus="on" class="form-control" name="ethnicity">
                    </div>


                    <div class="form-group">
                        <label class="form-control-label">Age</label>
                        <input type="text" autofocus="on" class="form-control" name="age">
                    </div>


                    <div class="form-group">
                        <label class="form-control-label">Grade</label>
                        <input type="text" autofocus="on" class="form-control" name="grade">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Date of Birth</label>
                        <input type="date" autofocus="on" class="form-control" name="dob">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Profile Photo</label>
                        <input type="text" autofocus="on" class="form-control" name="photo"
                            placeholder="Still need to work on this">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">School</label>
                        <input type="text" autofocus="on" class="form-control" name="school">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Primary Parent/Guardian Name</label>
                        <input type="text" autofocus="on" class="form-control" name="parent1">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Primary Parent/Guardian Phone Number</label>
                        <input type="text" autofocus="on" class="form-control" name="parent1phone"
                            placeholder="Format: 123-456-7890">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Secondary Parent/Guardian Name</label>
                        <input type="text" autofocus="on" class="form-control" name="parent2">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Secondary Parent/Guardian Phone Number</label>
                        <input type="text" autofocus="on" class="form-control" name="parent2phone"
                            placeholder="Format: 123-456-7890">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Emergency Contact Name</label>
                        <div class="required">
                            <label>*</label>
                        </div>
                        <input type="text" autofocus="on" class="form-control" name="econtact" required>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Emergency Contact Phone Number</label>
                        <div class="required">
                            <label>*</label>
                        </div>
                        <input type="text" autofocus="on" class="form-control" name="econtactphone"
                            placeholder="Format: 123-456-7890" required>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Allergies</label>
                        <div class="required">
                            <label>*</label>
                        </div>
                        <input type="text" autofocus="on" class="form-control" name="allergies" required>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Any Special Needs</label>
                        <input type="text" autofocus="on" class="form-control" name="needs">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Medications</label>
                        <input type="text" autofocus="on" class="form-control" name="medications">
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Any other information</label>
                        <input type="text" autofocus="on" class="form-control" name="notes">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Student immunizations</label> <br>
                        <input type="checkbox" name="immunizations" id="immunizations" value="all done">
                        <label>All done with immunizations?</label><br>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Gender</label> <br>
                        <select style="width: 100%; height: 100%;" name="gender">
                            <option style="font-size: 100px;">Male</option>
                            <option>Female</option>
                            <option>Other</option>
                            <option>Prefer Not To State</option>
                        </select>
                    </div>

                </fieldset>
                <div class="form-group" style="margin-top: 20px;">
                    <input type="submit" value="Register" class="btn float-right btn-md btn-outline-primary">
                </div>
                <br> <br>
            </form>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Login</a>
            </small>
        </div>
        <br>
    </div>
</div>
{% endblock %}